In [2]:
import pandas as pd

#df = pd.read_csv('data/raw/shopping_behavior_updated.csv')

df = pd.read_csv('C:/Users/deema/Desktop/SpecialLab/refactor-me/data/raw/shopping_behavior_updated.csv')

In [3]:
#df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}) # Just an EXAMPLE
#For the Purchase Amount (USD) column and the Age column for the following is the: mean,median,std,max,min
df = pd.DataFrame({'A': [1, 2, 3], 'F':[16,17,18]})
df.describe()

         A     F
count  3.0   3.0
mean   2.0  17.0
std    1.0   1.0
min    1.0  16.0
25%    1.5  16.5
50%    2.0  17.0
75%    2.5  17.5
max    3.0  18.0

In [8]:
#Group by Seasons to find the mean,median,std,max,min 
import pandas as pd
df = pd.read_csv('C:/Users/deema/Desktop/SpecialLab/refactor-me/data/raw/shopping_behavior_updated.csv')
df = pd.DataFrame({'Season': ['Winter', 'Spring', 'Summer', 'Fall']})
grouped_df = df.groupby(['Season'])
df.describe()

        Season
count        4
unique       4
top     Winter
freq         1

In [ ]:
#Exclude two columns from the Data Frame: Customer and Discount Applied
#Needs REWORK
df = pd.read_csv('C:/Users/deema/Desktop/SpecialLab/refactor-me/data/raw/shopping_behavior_updated.csv')
#df = df.Drop['Customer ID','Discount Applied']
#Dropping the columns
df.drop(['CustomerID', 'DiscountApplied'], axis=1)
print(df.column)

In [ ]:
#Needs ReWork
#Importing Pandas and Numpy
import pandas as pd
import numpy as ny
#Reading the .csv file
df = pd.read_csv('C:/Users/deema/Desktop/SpecialLab/refactor-me/data/raw/shopping_behavior_updated.csv')
#Checking the shape of the file
pd.DataFrame.shape
print(df)
#Checking for all of the Payment Methods used in NY to find out which one is the most popular
df = pd.DataFrame({'Payment Method':['PayPal', 'Venmo','Bank Transfer','Cash', 'Credit Card', 'Debit Card'], 'Location': ['New York'], 'Amount': [1, 200 ]})
#Grouping the Payment Methods and checking for th top values
df = df.groupby('Payment Method').value_counts()
#Getting the Average Sum
df = df.agg('sum')
#Printing the data file
print(df)